body{
    background-color: aqua;
}


#ilk{
    background-color: aliceblue;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.bolum{
    background-color: rgb(0, 128, 240);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}